* {
    margin: o;
    padding: 0;
    /* font-size: 25px; */
  }
  
  body {
    /* background-color: bisque; */
    background-image: url(../img/logo_food.gif);
    /* background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); */
    background-color: #fff;
    background-repeat: no-repeat;
    /* padding-left: 50px; */
    /* margin-left: 20px; */
  }
  
  .signup {
    margin: 50px 0 0 710px;
    width: 390px;
    height: 580px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .signup h1.signup-heading {
    text-align: center;
    padding: 25px 0 25px 0;
    background-color: #fff;
    /* padding: 20px; */
    font-size: 45px;
    border-radius: 20px;
    cursor: pointer;
  }
  .signup .email-group,
  .signup .password-group {
    margin-left: 50px;
  }
  .password-group .signup-input,
  .email-group .signup-input {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 290px;
    height: 48px;
    text-align: center;
  }
  .email-group i.ti-user {
    position: absolute;
    /* top: 0; */
    margin-top: 16px;
    margin-left: 10px;
  }

i.ti-lock {
    position: absolute;
    margin-top: 34px;
    margin-left: -48px;
  }
  
  .signup .password-group {
    margin-top: 20px;
  }
  
  .signup .signup-submit {
    border: none;
    width: 290px;
    margin-top: 50px;
    height: 48px;
    margin-left: 50px;
    background-color: #088da5;
    border-radius: 30px;color: #fff;
}
.signup .signup-submit:hover {
    background-color: #00DBDE;
}
  .signup .signup-submit:hover {
    /* background-position: 0 100%; */
    /* background-size: auto 6px; */
    /* background-repeat: repeat-x; */
    /* text-decoration: none; */
    /* background-position: 0 100%; */
    /* background-repeat: repeat-x; */
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .signup .signup-already a.signup-login-link {
    margin-left: 162px;
    text-decoration: none;
  }
  
  .infor .ti-facebook,
  .infor .ti-email,
  .infor .ti-twitter {
    width: 20px;
    height: 20px;
    padding: 16px;
    border-radius: 50%;
    color: #fff;
    margin: 70px 5px 0 5px;
  }
  .infor .ti-facebook {
    background-color: #491dae;
    margin-left: 110px;
    cursor: pointer;
  }
  
  .infor .ti-email {
    background-color: #00DBDE;\
    cursor: pointer;
  }
  
  .infor .ti-twitter {
    background-color: red;
    cursor: pointer;
  }

  .signup .register {
    width: 100px;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 23px;
    margin-left: 135px;
    position: absolute;
    background-color: #088da5;
    /* color: #fff; */
  }
  
  .signup .register:hover {
    background-color: #00DBDE;
  }
  